@font-face {
  font-family: 'iconfont';  /* Project id 2970404 */
  src: url('//at.alicdn.com/t/font_2970404_3bkf9tw4gry.woff2?t=1638175811365') format('woff2'),
       url('//at.alicdn.com/t/font_2970404_3bkf9tw4gry.woff?t=1638175811365') format('woff'),
       url('//at.alicdn.com/t/font_2970404_3bkf9tw4gry.ttf?t=1638175811365') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
